

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" contet="widht=device-width">
        <title> Tarea Autonoma Flask</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>



         <body>
            <header>
                <div class="container">
                    <div id="branding">
                        <nav>
                            <ul>
                                <li ><a href="http://127.0.0.1:5000/index">Home</a></li>
                                <li class="current"><a href="http://127.0.0.1:5000/acercaDe">Acerca De</a></li>
                                <li ><a href="http://127.0.0.1:5000/galeria">Galeria</a></li>
                                <li ><a href="http://127.0.0.1:5000/mapa">Mapa</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

<div class="contenedor ">
<section id="main">
    <div class="container">
      <article id="main-col">
        <h3 class="page-title">Acerca de nosotros</h3>
        <p>
           Los Huertos comunitarios estan destinados para el cultivo de plantas horticolas (ajo, cebollas, zanahorias, acelgas, entre otros). Estas plantas tienen como base la agricultura ecologica y se pueden potenciar con tecnologia. Ademas, cabe destacar que no solo proveera alimentos sanos y frescos, sino que tambien permite que se trabaje con los residuos organicos de los mismos miembros de la comunidad, genera pertenencia con el lugar, sirve como terapia y es el primer paso para una mayor independencia alimentaria, ya que muchos de estos huertos son la base de los comedores sociales de Valparaiso.
           Es por eso que nuestro objetivo es potenciar, a traves de la informatica, la agricultura para entregar un mayor control de cada uno de los huertos. El proyecto se enmarca en el area del Internet de las Cosas IoT vinculado a la Informatica Agricola.

    </article><br><br><br>
 <img src="static/photos/equipo.png" class="img-fluid" > 
  

    </div>
    <div class="ratio ratio-16x9"><center>
            <iframe width="460" height="315" src="https://www.youtube.com/embed/udvInRqDshI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </center></div>
  </section>

</div>
<!------------------------------------------>
<footer>
    <section class="mb-1" style="display: inline-flex; " >
      <!-- Facebook -->

      <!-- Twitter -->
      <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
        <img class="card-img" src="static/photos/upla1.png" alt="Card image cap">

        </div>
      
        <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px;">
          <img class="card-img" src="static/photos/vinculate1.png" alt="Card image cap">

          </div>
      
          <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
            <img class="card-img" src="static/photos/moneda.png" alt="Card image cap">

            </div>

            <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
              <img class="card-img" src="static/photos/valpo.png" alt="Card image cap">

              </div>
            
    </section>
    
    <!-- Section: Social media -->
  <!-- Grid container -->


</footer>

<div style="background-color: #5D4037; color: #ffffff"><center> 2021 Proyecto Final</center></div>

    </body>
</html>
