

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" contet="widht=device-width">
        <title> Tarea Autonoma Flask</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
     <!------------------------------------------>
    <body>
         <!------------------------------------------>
         <header>
            <div class="container">
                <div id="branding">
                    <nav>
                        <ul>
                            <li ><a href="http://127.0.0.1:5000/index">home</a></li>
                            <li ><a href="http://127.0.0.1:5000/acercaDe">Acerca De</a></li>
                            <li class="current" ><a href="http://127.0.0.1:5000/galeria">Galeria</a></li>
                            <li ><a href="http://127.0.0.1:5000/mapa">Mapa</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

<section id="main">
    <div class="container">
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="static/photos/1.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Chincol"
    />

    <img
      src="static/photos/2.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="static/photos/3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="static/photos/4.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="static/photos/5.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="static/photos/6.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="static/photos/7.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="static/photos/8.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="static/photos/9.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="static/photos/10.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="static/photos/11.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="static/photos/12.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

</div>
<!-- Gallery -->

    </div>
  </section>
<!------------------------------------------>
<footer>
    <section class="mb-1" style="display: inline-flex; " >
      <!-- Facebook -->

      <!-- Twitter -->
      <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
        <img class="card-img" src="static/photos/upla1.png" alt="Card image cap">

        </div>
      
        <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px;">
          <img class="card-img" src="static/photos/vinculate1.png" alt="Card image cap">

          </div>
      
          <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
            <img class="card-img" src="static/photos/moneda.png" alt="Card image cap">

            </div>

            <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
              <img class="card-img" src="static/photos/valpo.png" alt="Card image cap">

              </div>
            
    </section>
    
    <!-- Section: Social media -->
  <!-- Grid container -->


</footer>

<div style="background-color: #5D4037; color: #ffffff"><center> 2021 Proyecto Final</center></div>


    </body>
</html>

