

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" contet="widht=device-width">
        <title> Tarea Autonoma Flask</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
         <!------------------------------------------>
        <header>
            <div class="container">
                <div id="branding">
                    <nav>
                        <ul>
                            <li class="current"><a href="http://127.0.0.1:5000/index">home</a></li>
                            <li><a href="http://127.0.0.1:5000/acercaDe">Acerca De</a></li>
                            <li><a href="http://127.0.0.1:5000/galeria">Galeria</a></li>
                            <li><a href="http://127.0.0.1:5000/mapa">Mapa</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
 <!------------------------------------------>
        <section id="showcase">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="static/photos/1.png"  width="1100" height="550">
                  <div class="carousel-caption">
                    <p>Cerros de Valparaiso</p>
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="static/photos/2.png"  width="1100" height="550">
                  <div class="carousel-caption">
                    <p>Cerros de Valparaiso</p>
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="static/photos/6.png"  width="1100" height="550">
                  <div class="carousel-caption">
                    <p>Cerros de Valparaiso</p>
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="static/photos/12.png"  width="1100" height="550">
                  <div class="carousel-caption">
                    <p>Cerros de Valparaiso</p>
                  </div>   
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
        </section>
<!------------------------------------------>
<section >

<div class="row" >
  <div class="col-md-auto">

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.portalagrochile.cl/wp-content/uploads/2021/08/revista-especializada-del-cerezo-lanza-su-segunda-edicion-533x261.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Revista especializada del Cerezo, lanza su segunda edición</h5>
      <p class="card-text">Revista del cerezo. Luego de un exitoso debut en diciembre del 2020, PEC Chile lanzó este 15 de Agosto la segunda edición de PEC Magazine. "Queremos... </p>
      <a href="https://www.portalagrochile.cl/2021/08/16/revista-especializada-del-cerezo-lanza-su-segunda-edicion/" class="btn btn-primary">Mas informacion</a>
       </div>
    </div>
  </div>

  <div class="col-md-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.portalagrochile.cl/wp-content/uploads/2021/08/Expo-Chile-Agricola-2021-324x160.jpg" alt="Card image cap">
      <div class="card-body">
       <h5 class="card-title">Riego con nanoburbujas o con vasijas ancestrales son algunos atractivos de...</h5>
        <p class="card-text">Ahorrar hasta 80 porciento de agua en riego mediante el resurgimiento de una práctica ancestral basada en el uso de vasijas de greda o experimentar... </p>
        <a href="https://www.portalagrochile.cl/2021/08/14/riego-con-nanoburbujas-o-con-vasijas-ancestrales-son-algunos-atractivos-de-expo-chile-agricola-2021/" class="btn btn-primary">Mas informacion</a>
     </div>
    </div>
  </div>

  <div class="col-md-auto">
    <div class="card" style="width: 18rem;">
     <img class="card-img-top" src="https://www.portalagrochile.cl/wp-content/uploads/2021/08/construccion-y-rehabilitacion-de-pozos-533x261.jpg" alt="Card image cap">
     <div class="card-body">
        <h5 class="card-title">Hasta el 19 de agosto regantes de todo el país podrán...</h5>
        <p class="card-text">Ahorrar hasta 80 porciento de agua en riego mediante el resurgimiento de una práctica ancestral basada en el uso de vasijas de greda o experimentar..</p>
        <a href="https://www.portalagrochile.cl/2021/08/14/hasta-el-19-de-agosto-regantes-de-todo-el-pais-podran-presentar-sus-iniciativas-a-concurso-destinado-a-construccion-y-rehabilitacion-de-pozos/" class="btn btn-primary">Mas informacon</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-auto">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
       <h5 class="card-title">Noticia</h5>
       <p class="card-text">Lorem Ipsun is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr ys standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
       <a href=" " class="btn btn-primary">Mas informacion</a>
      </div>
    </div>
  </div>

  <div class="col-md-auto">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Noticia</h5>
      <p class="card-text">Lorem Ipsun is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr ys standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
      <a href=" " class="btn btn-primary">Mas informacion</a>
    </div>
  </div>
</div>

<div class="col-md-auto">
  <div class="card" style="width: 18rem;">
   <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
     <h5 class="card-title">Noticia</h5>
     <p class="card-text">Lorem Ipsun is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr ys standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
     <a href=" " class="btn btn-primary">Mas informacion</a>
   </div>
  </div>
</div>
</div>

<div class="row">  
    <div class="col-md-auto">

   <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">Noticia</h5>
          <p class="card-text">Lorem Ipsun is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr ys standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
         <a href="" class="btn btn-primary">Mas informacion</a>
        </div>
  </div>
</div>

<div class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Noticia</h5>
            <p class="card-text">Lorem Ipsun is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr ys standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            <a href="" class="btn btn-primary">Mas informacion</a>
          </div>
        </div>
      </div>

      <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Noticia</h5>
          <p class="card-text">Lorem Ipsun is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr ys standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
          <a href="" class="btn btn-primary">Mas informacion</a>
          </div>
      </div>
    </div>
  </div>
</div>

  </section>
<!------------------------------------------>
<footer>
    <section class="mb-1" style="display: inline-flex; " >
      <!-- Facebook -->

      <!-- Twitter -->
      <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
        <img class="card-img" src="static/photos/upla1.png" alt="Card image cap">

        </div>
      
        <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px;">
          <img class="card-img" src="static/photos/vinculate1.png" alt="Card image cap">

          </div>
      
          <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
            <img class="card-img" src="static/photos/moneda.png" alt="Card image cap">

            </div>

            <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
              <img class="card-img" src="static/photos/valpo.png" alt="Card image cap">

              </div>
            
    </section>
    
    <!-- Section: Social media -->
  <!-- Grid container -->


</footer>

<div style="background-color: #5D4037; color: #ffffff"><center> 2021 Proyecto Final</center></div>

    </body>
</html>


