



<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" contet="widht=device-width">
        <title>Proyeto finalk</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
     <!------------------------------------------>
    <body>
         <!------------------------------------------>
         <header>
            <div class="container">
                <div id="branding">
                    <nav>
                        <ul>
                            <li ><a href="http://127.0.0.1:5000/index">home</a></li>
                            <li ><a href="http://127.0.0.1:5000/acercaDe">Acerca De</a></li>
                            <li ><a href="http://127.0.0.1:5000/galeria">Galeria</a></li>
                            <li class="current"><a href="http://127.0.0.1:5000/mapa">Mapa</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

<section id="main">
    <div class="container">
<!-- Gallery -->
<div class="row">
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1SW25uwAwPN9OBt51U6K74XgSxRvkMkOd" width="640" height="480"></iframe>

<div class="col-md-auto">
    <div class="dark"> 
        <h3>Contactanos</h3>
        <form class="contacto">
            <div>
                <label>Nombre y apellido</label>
                <input type="text" placeholder="Nombre y apellido">
            </div>
            <div>

                <label>Correo Electronico</label>
                <input type="text"  placeholder="Correo electronico">

            </div>
            <div>
                <label>El Mensaje</label>
                <hr>
                <textarea placeholder="Mensaje"></textarea>
            </div>
            <button class="button_1"type="submit">Enviar</button>
        </form>

    </div>

  </div>
</div>

<!-- Gallery -->

    </div>
  </section>
<!------------------------------------------>
<footer>
    <section class="mb-1" style="display: inline-flex; " >
      <!-- Facebook -->

      <!-- Twitter -->
      <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
        <img class="card-img" src="static/photos/upla1.png" alt="Card image cap">

        </div>
      
        <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px;">
          <img class="card-img" src="static/photos/vinculate1.png" alt="Card image cap">

          </div>
      
          <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
            <img class="card-img" src="static/photos/moneda.png" alt="Card image cap">

            </div>

            <div class="card p-3" style="width: 15rem; background-color: #ffffff; margin-right:5px; ">
              <img class="card-img" src="static/photos/valpo.png" alt="Card image cap">

              </div>
            
    </section>
    
    <!-- Section: Social media -->
  <!-- Grid container -->


</footer>

<div style="background-color: #5D4037; color: #ffffff"><center> 2021 Proyecto Final</center></div>
 </body>
</html>



